header{
  background-color: #EDEFEE;
  height: 5rem;
}
nav{
  display: flex;
  background-color: #495E57;
  height: 3rem;
  justify-content: center;
  align-items: center;
}
.top >ul{
  display: flex;
  color: #EDEFEE;
  flex-direction: row;
  list-style: none;
}
li:Hover{
  color: #F4CE14;
}
li{
  margin: 0 1rem 0 1rem;
}

footer{
  display: grid;
  height: auto;
  background-color: #495E57;
  color: #EDEFEE;
  grid-template: 1fr/repeat(12, 1fr);
  padding: 3rem 2rem 3rem 2rem;
}

footer > img{
  grid-column: 2;
}

.Navigation{
  grid-column: 5;
}

.Contact{
  grid-column: 7;
}

.SocialMedia{
  grid-column: 9;
}